[submodule "Javascript/Manuel-Lerchner-Website"]
	path = Javascript/Manuel-Lerchner-Website
	url = https://github.com/ManuelLerchner/Manuel-Lerchner-Website
[submodule "Python/Github.io/ManuelLerchner.github.io"]
	path = Python/Github.io/ManuelLerchner.github.io
	url = https://github.com/ManuelLerchner/ManuelLerchner.github.io
[submodule "Javascript/chat-app"]
	path = Javascript/chat-app
	url = https://github.com/ManuelLerchner/chat-app.git
[submodule "Python/GeometryDash-AutoClicker"]
	path = Python/GeometryDash-AutoClicker
	url = https://github.com/ManuelLerchner/GeometryDash-AutoClicker
[submodule "Javascript/Monopoly-Automatic-Bank"]
	path = Javascript/Monopoly-Smart-Bank
	url = https://github.com/ManuelLerchner/Monopoly-Automatic-Bank
[submodule "Javascript/--force"]
	path = Javascript/--force
	url = https://github.com/ManuelLerchner/Monopoly-Smart-Bank-Backend
[submodule "Javascript/Monopoly-Smart-Bank-Backend"]
	path = Javascript/Monopoly-Smart-Bank-Backend
	url = https://github.com/ManuelLerchner/Monopoly-Smart-Bank-Backend
[submodule "Rust/neural-network"]
	path = Rust/neural-network
	url = https://github.com/ManuelLerchner/neural-network
