serverside/
config.php
combined.php
wol.php
routerConf.dat
Library/
[Ll]ibrary/
apikeys.json
auth.json


*.mp3

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

