<h1>Board</h1>

<form id="Submit-Form" class="col s12 customcol3">
    <div class="row">

        <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="Name-Input" type="text" class="validate" name="name" />
            <label for="Name-Input">First Name</label>
        </div>

    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="input-field col s8">
            <i class="material-icons prefix">mode_edit</i>
            <input
                id="Message-Input"
                type="text"
                class="materialize-textarea"
                name="message"
            />
            <label for="Message-Input">Enter a Message</label>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">

        <div class="input-field col s6">
            <button
                class="col s5 offset-s1 btn-small waves-effect waves-light customcol2"
                type="submit"
            >Submit

            </button>
        </div>
    </div>

</form>

<div class="pad customcol3">
    <h4>All Messages:</h4>
    <table class="tablecol">
        <thead class="tablehead">
            <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="message-table">
            {{#each data}}
                <tr>
                    {{#each this}}
                        {{#if (isNotId @key)}}
                            <td>
                                {{this}}
                            </td>
                        {{/if}}
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>