<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/logoUrl.png" />
    <title>Notifiy Me</title>
</head>

<div id="bg"></div>

<body>

    <div id="header">
        <ul id="Links">
            <li> <a href="/index"> <img src="/static/haus.png"> Home </a> </li>
            <li> <a href="/controller"> <img src="/static/controller.png"> Controller </a> </li>
            <li> <a href="/notify"> <img src="/static/notify.png"> Notify Me </a> </li>
            <li> <a href="/about"> <img src="/static/about.png"> About </a> </li>
        </ul>

        <img id="Logo" src="/static/logo2.png">

    </div>



    <div id="main">

        <div class="shell smaller noTransform">
        
                <iframe src="http://manuellerchner.ddns.net:4250/video" width="640" height="480" name="SELFHTML_in_a_box">
                    <p>Error</p>
                </iframe>

        </div>


    </div>



    <div id="footer">

        <ul id="References">
            <li> <a id="Twitter" href="https://twitter.com/ManuelLerchner"> <img src="/static/twitter.png"> Twitter </a>
            </li>
            <li> <a id="Youtube" href="https://www.youtube.com/channel/UCvIGqQ5pelOqwaKOFaqiP4w"> <img
                        src="/static/youtube.png"> Youtube </a>
            </li>
        </ul>

    </div>




</body>


</html>