.stickBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;

    height: 400px;
}

.carousel .carousel-item {
    opacity: 1 !important;
}


.carousel-item {

    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
